{% extends 'base.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{asset('css/calendar/main.min.css')}}">
    <link rel="stylesheet" href="{{asset('css/calendar/dayMain.min.css')}}">
    <link rel="stylesheet" href="{{asset('css/calendar/timeMain.min.css')}}">
    <link rel="stylesheet" href="{{asset('css/calendar/bootstrapMain.css')}}">
    {# <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fullcalendar/core@4.1.0/main.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fullcalendar/daygrid@4.1.0/main.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fullcalendar/timegrid@4.1.0/main.min.css"> #}

{% endblock %}
{% block title %}Booking index{% endblock %}
{% block body %}
<div class="row  top-banner">
<div class="col-1">
</div>
<div class="col-11 BoWall">
    <h1>Booking index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>title</th>
                <th>BeginAt</th>
                <th>EndAt</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for booking in bookings %}
            <tr>
                <td>{{ booking.id }}</td>
                <td>{{ booking.title }}</td>
                <td>{{ booking.beginAt ? booking.beginAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ booking.endAt ? booking.endAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('booking_show', {'id': booking.id}) }}">show</a>
                    <a href="{{ path('booking_edit', {'id': booking.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('booking_new') }}">Create new</a>
    <a href="{{ path('booking_Date') }}">Calendrier</a>

</div>
</div>
<div class="row  top-banner">
    <div class="col-1">

    </div>
    <div class="col-11 BoWall">
        
        <a href="{{ path('booking_new') }}">Create new booking</a>
        <div id="calendar-holder"></div>

    </div>
</div>
{# modal Calendar #}
<div class="modal" id="CalendarModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog container justify-content-center align-items-center" role="document">
        <div class="modal-content ">
            <div class="modal-body"  >
                <div class="row notice d-flex justify-content-center align-items-center">
                    <div class="col-11 BoWall">
                        <h1>Create new Booking</h1>
                    
                        {{ include('booking/_form.html.twig') }}
                    
                        {# <a href="{{ path('booking_index') }}">back to list</a> #}
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block javascripts %}
{{ parent() }} 
    <script src="{{asset('js/calendar/coreMain.min.js')}}"></script>
    <script src="{{asset('js/calendar/dayGridMain.min.js')}}"></script>
    <script src="{{asset('js/calendar/interactMain.min.js')}}"></script>
    <script src="{{asset('js/calendar/timeGridMain.min.js')}}"></script>
    <script src="{{asset('js/calendar/timeGridMain.min.js')}}"></script>
    <script src="{{asset('js/calendar/locales-all.js')}}"></script>
    {# <script src="https://cdn.jsdelivr.net/npm/@fullcalendar/core@4.1.0/main.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@fullcalendar/interaction@4.1.0/main.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@fullcalendar/daygrid@4.1.0/main.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@fullcalendar/timegrid@4.1.0/main.min.js"></script> #}

    <script type="text/javascript">
        document.addEventListener('DOMContentLoaded', () => {
            var calendarEl = document.getElementById('calendar-holder');

            var calendar = new FullCalendar.Calendar(calendarEl, {
                defaultView: 'timeGridWeek',
                selectable: true,
                locales: 'allLocales',
                locale: 'fr',
                aspectRatio: 2.2,
                editable: true,
                eventSources: [
                    {
                        url: "{{ path('fc_load_events') }}",
                        method: "POST",
                        extraParams: {
                            filters: JSON.stringify({})
                        },
                        failure: () => {
                            // alert("There was an error while fetching FullCalendar!");
                        },
                    },
                ],
                businessHours: {
                    dow: [1, 2, 3, 4, 5], // Monday - Friday
                    startTime: '9:00', // a start time (10am in this example)
                    endTime: '17:00', // an end time (6pm in this example)
                  }, 
                header: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'dayGridMonth,timeGridWeek,timeGridDay',
                },
    
                  dateClick: function(info) {
                    //alert('Clicked on: ' + info.dateStr);
                    $('#CalendarModal').modal('show');

                  },
                  
                plugins: [ 'interaction', 'dayGrid', 'timeGrid','bootstrap' ], // https://fullcalendar.io/docs/plugin-index
                timeZone: 'UTC',
                themeSystem: 'bootstrap',
            });
            calendar.render();
        });
    </script>

    <script src="{{ asset('js/datepicker.min.js') }}">

        $( function() {
          $( "#booking_beginAt" ).datepicker();
        } );
        </script>
{% endblock %}