<div class="row">

<header >
        <div >
            <div >   
            
                <nav class="top-nav">
                    <div class="menu-wrapper">
                        <a href={{ path('index') }}> <img class="logocenter img-fluid" src="{{asset('asset/LA_WA_BO.png')}}" alt="logo La Web Agency"></a>

                        <ul class="menu">
                            <li>
                                <a href="{{ path('index') }}">home</a>
                            </li>
                            <li>
                                <a href="{{ path('aboutme') }}">about me</a>
                            </li>
                            <li>
                                <a href="{{ path('works') }}">projects</a>
                            </li>
                            <li>
                                <a href="{{ path('contact') }}">contact</a>
                            </li>
                            <li>
                                <button class="menu-close" aria-label="close menu">✕</button>
                            </li>
                        </ul>
                        
                    </div>
                    <div class="fixed-menu">
                        <a href={{ path('index') }}> <img class="logocenter img-fluid" src="{{asset('asset/LA_WA_BO.png')}}" alt="logo La Web Agency"></a>
                        <button class="menu-open" title="Menu" aria-label="open menu">☰</button>
                        <ul class="socials">
                            <li>
                                <div class="row mentions">
                                    <div class=" text-center col-lg-12">
                                     <p> © Copyright Latieule Aurélien 2019 / images : <a href="https://picsum.photos/" target="_blank">picsum photos</a></p>
                                     
                                    </div>
                                </div>
                            </li> 
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    </header>
</div>