{% extends 'base.html.twig' %}

{% block title %}à propos{% endblock %}
{% block body %}
    <section id="aboutme" class="top-banner row">
        <div class="top-banner-overlay titlemobil col-lg-12">
            <h1>LA Web Agency</h1>
            <p>{{ 'justeVous'|trans }}</p>
            <p>{{ 'aboutFreeL1'|trans }}</p>
            <img class="img-fluid logoAbout" src="{{asset('asset/LA_WA_BO.png')}}" alt="logo La web agency">
            <p> {{ 'auService'|trans }}
            </p>
            <p> {{ 'renaitre'|trans }}
            </p>
        </div>
        <div id="container">
            <div class="slide one">
                <div class="top-banner-overlay slide four">
                    <img class="img-fluid logoAbout" src="{{asset('asset/LA_WA_BO.png')}}" alt="logo La web agency">
                    <p>{{ 'auService'|trans }}
                    </p>
                </div>
            </div> 
            <div class="slide two">
                <div class="top-banner-overlay slide four">
                    <p>{{ 'renaitre'|trans }}
                    </p>
                    <a href="{{path('aboutmeCV')}}">- Curriculum vitæ (fr) -</a>
                </div>
            </div>
            <div class="slide three">
                <div class="top-banner-overlay slide four">
                    <p>{{ 'justeVous'|trans }}</p>
                    <p>{{ 'aboutFreeL1'|trans }}</p>                    
                    
                </div>
            </div>
        </div>
    </section>

{% endblock %}
{% block javascripts %}<script src="../js/parallax.js" ></script>{% endblock %}
