{% extends 'base.html.twig' %}

{% block title %}Mentions Légales{% endblock %}

{% block body %}
    <section class="top-banner row">
     <div class="top-banner-overlay titlemobil col-lg-12">
                    <p> {{ 'propri'|trans }} </p>

                        {{ 'heber'|trans }} <a href="https://www.planethoster.com/fr/" target="_blank">Planethoster</a>.
                        {{ 'respons'|trans }}

                         {{ 'mailterms'|trans }} <a href="mailto:aurelien@lawebagency.net">aurelien@lawebagency.net</a>
                </div>
        <div id="container">
             <div class="slide one">
                <div class="top-banner-overlay slide four">
                    <section>
                        {{ 'mailterms'|trans }} <a href="mailto:aurelien@lawebagency.net">aurelien@lawebagency.net</a>

                    </section>
                </div>
             </div>
             <div class="slide two">
             <div class="top-banner-overlay slide four">
                    <section>                   
                        {{ 'heber'|trans }} <a href="https://www.planethoster.com/fr/" target="_blank">Planethoster</a>.
                        {{ 'respons'|trans }}
                    </section>
                </div>
             
            </div>
            <div class="slide three">
            <div class="top-banner-overlay slide four">
                    <section>
                        <p> {{ 'propri'|trans }} </p>

                    </section>
                </div>
                
            </div>
        </div>
    </section>
{% endblock %}
{% block javascripts %}<script src="../js/parallax.js" ></script>{% endblock %}