{% extends 'base.html.twig' %}

{% block title %}mon travail{% endblock %}
{% block body %}
<section id="project" class="row top-banner">
        <div class="top-banner-overlay titlemobil col-lg-12">
            <h1>Mes réalisations</h1>
            <p>Site web & Infographie</p>
            <img class="img-fluid logoAbout" src="{{asset('asset/LA_WA_BO.png')}}" alt="logo La web agency">
            <p>Mon cursus et mes expériences me permettent de fournir une prestation globale</p>
            <p>Vous trouverez en dessous une sélection de mes travaux.</p>
            <a href="#myWork" class="btn btn-primary"><i class="fa fa-arrow-down"></i></a>
        </div>
        <div id="container">
            <div class="slide one">
                <div class="top-banner-overlay slide four">
                    <img class="img-fluid logoAbout" src="{{asset('asset/LA_WA_BO.png')}}" alt="logo La web agency">
                    <p>Mon cursus et mes expériences me permettent de fournir une prestation globale</p>
                </div>
            </div>
            <div class="slide two">
                <div class="top-banner-overlay slide four">
                    <p>Vous trouverez en dessous une sélection de mes travaux.</p>
                    <a href="#myWork" class="btn btn-primary"><i class="fa fa-arrow-down"></i></a>
                </div>
            </div>
            <div class="slide three">
                <div class="top-banner-overlay slide four">
                    <h1>Mes réalisations</h1>
                    <p>Site web & Infographie</p>
                </div>
            </div>
        </div>
    </section>
        <div class="CartCarding">
        <div class="container-fluid">
            <div class="row justify-content-around" id="myWork">
                <div class="col-12 BoWall text-center">
                    <h2>Trouvez ce que vous cherchez :</h2>
                    <span id="myBtnContainer"></span>
                    <!-- <label for="searchYTSelect"><i class="fas fa-search"></i></label> -->
                    <span id="searchYTSelect" class="justify-content-center align-item-center" >
                        <select id="inputSearchSelect">
                            <option value=""> par tags : </option>
                            <option value="#web">#web</option>
                            <option value="#infographie">#infographie</option>
                            <option value="#photo">#photo</option>

                        </select>
                    </span>
                    ou 
                    <span id="searchYT" class="justify-content-center align-item-center" >
                        <input type="search" id="inputSearch" name="q"
                          aria-label="Search through site content" placeholder=" par mot clé">
                        <button id="btnSearch" class="btn" ><i class="fa fa-search"></i></button>
                    </span>
                </div>
            {% for work in works %}
                <section class="carding text-center col-xl-2 col-lg-3 col-md-4 col-xs-6 col-12 itemParentContainer">
                    <p class="">{{ work.tags }}</p>
                    <img src="{{ vich_uploader_asset(work, 'imageFile') }}" class="card-img-top" alt="photo {{ work.title }}">
                    <div class="card-body">
                        <h5 class="card-title">{{ work.title }}</h5>
                        <p class="card-text">{{ work.description }}</p>
                        {% if work.linkWebsite %}
                        <a href="{{ work.linkWebsite }}" target="_blank" class="btn ">le site</a>
                        {% else  %}
                    <!-- Button trigger modal -->
                        <button type="button" class="btn" data-toggle="modal" data-target="#Modal{{ work.title }}">le visuel</button>
                        <!-- Modal -->
                        <div class="modal fade" id="Modal{{ work.title }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                        <h5 class="modal-title" id="ModalLabel{{ work.title }}">{{ work.title }}</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                    <div class="modal-body">
                                        <img src="{{ vich_uploader_asset(work, 'imageFile') }}" class="card-img" alt="photo {{ work.title }}">
                                    </div>
                                    <div class="">
                                       <button type="button" class="btn " data-dismiss="modal">Fermer</button>                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </section>     
            {% endfor %} 
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block javascripts %}
<script src="{{ asset('js/parallax.js') }}"></script>
<script src="{{ asset('js/WorksSelector.js') }}"></script>
<script>
$('#myModal').on('shown.bs.modal', function () {
  $('#myInput').trigger('focus')
});
</script>

{% endblock %}
