<!DOCTYPE html>
<html lang="fr">
    <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-142422987-2"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());

        gtag('config', 'UA-142422987-2');
    </script>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no">


    <link rel="shortcut icon" href="{{asset('asset/LA_WA_BO-min.ico')}}"  type="image/x-icon">
    <link rel="icon" href="{{asset('asset/LA_WA_BO-min.ico')}}" type="image/x-icon">

    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="{{asset('css/style.css')}}">
    <link rel="stylesheet" href="{{asset('css/datepicker.min.css')}}">
    

    <link href="https://fonts.googleapis.com/css?family=McLaren|Staatliches&display=swap" rel="stylesheet">

    {# <script src="https://www.google.com/recaptcha/api.js?render=6LfVvrwUAAAAAKPE7qxohsJySELSp5rEvv1wbLwM"></script> #}
   
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <meta name="description" content="Créateur: Site web & Infographie | Creator: Website & Infographic">
    <meta property="og:locale" content="fr_FR" />
    <meta property="og:type" content="services" />
    <meta property="og:title" content="La Web Agency Créateur : Site web & Infographie" />
    <meta property="og:image" content="{{asset('asset/LA_WA_BO.png')}}"  />
    <meta property="og:description" content="Créateur: Site web & Infographie | Creator: Website & Infographic" />
    <meta property="og:url" content="https://www.lawebagency.net" />
    <meta property="og:site_name" content="La Web Agency" />
    <meta name="twitter:card" content="La Web Agency" />
    <meta name="twitter:title" content="Créateur: Site web & Infographie | Creator: Website & Infographic" />
    <meta name="twitter:image" content="{{asset('asset/LA_WA_BO.png')}}" />
        <title>{% block title %}{% endblock %} | La Web Agency</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body id="top">
                {# read and display just one flash message type #}
        {% for message in app.flashes('notice') %}
        <div class="flash-notice" role="alert">
            {{ message }}
        </div>
        {% endfor %}
        {# read and display several types of flash messages #}
        {% for label, messages in app.flashes(['success', 'warning']) %}
        {% for message in messages %}
        <div class="flash-{{ label }} alert-dismissible ml-5 p-3 fade show" role="alert">
            {{ message }}
        </div>
        {% endfor %}
        {% endfor %}
        {# read and display all flash messages #}
        {% for label, messages in app.flashes %}
        {% for message in messages %}
        <div class="flash-{{ label }} alert-dismissible ml-5 p-3 fade show" role="alert">
            {{ message }}
        </div>
        {% endfor %}
        {% endfor %}

        <div class="container-fluid">
            {% include 'inc/header.html.twig' %}
            {% block body %}{% endblock %}

            {% include 'inc/footer.html.twig' %}
            {# modal cookies #}
            <div class="modal" id="cookieModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog container justify-content-center align-items-center" role="document">
                    <div class="modal-content ">
                        <div class="modal-body"  >
                            <div class="row notice d-flex justify-content-center align-items-center">
                                <div class="cookie-text col-6">
                                    <i class="fas fa-cookie fa-lg"></i> 
                                    <h2>Les Cookies</h2>
                                    Ce site mange des cookies, mais c'est surtout à des fins analytiques et de confort pour votre surf<i class="fas fa-cookie-bite fa-lg"></i>
                                </div>
                                <div class="buttons col-6">
                                    <button href="#a" onclick="CreateCookie()" class="btn btn-primary btn-sm m-1" data-dismiss="modal">Okay</button>
                                    <a href="https://www.ecosia.org/"   onclick="deleteAllCookies()"  class="btn btn-danger btn-sm m-1 displaynone" >Nop</a>
                                    <a href="https://www.lesharicotsdiaboliques.fr/cookies-chocolat-pecan/" class="btn  m-1" target="_blank">En savoir plus... ou pas</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        {# <script src="{{ asset('js/jquery.js') }}" ></script> #}
        <script src="{{ asset('js/nav.js') }}" ></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.3/TweenMax.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
        <script>
            $(".alert-dismissible").alert('close')
            
            $('#myModal').on('shown.bs.modal', function () {
                $('#myInput').trigger('focus')
            });
        </script>
                {# modul cookies #}
        <script src="{{ asset('js/js.cookie.js') }}"></script>

        <script >
            //console.log(Cookies.get())
                 $(document).ready(function() {  
                     if(!Cookies.get('lawebagency.net')) { 
                     
                     $('#cookieModal').modal('show'); 
                   }
                 });
 
                   function CreateCookie() {
                     Cookies.set('lawebagency.net', 'presence', { expires: 3 });
                   }
 
                   function deleteAllCookies() {
                     var cookies = document.cookie.split(";");
                 
                     for (var i = 0; i < cookies.length; i++) {
                         var cookie = cookies[i];
                         var eqPos = cookie.indexOf("=");
                         var name = eqPos > -1 ? cookie.substr(0, eqPos) : cookie;
                         document.cookie = name + "=;expires=Thu, 01 Jan 1970 00:00:00 GMT";
                     }
                 }
         </script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
