<!DOCTYPE html>
<html lang="fr">
    <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-142422987-2"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());

        gtag('config', 'UA-142422987-2');
    </script>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="shortcut icon" href="{{asset('asset/LA_WA_BO-min.png')}}"  type="image/x-icon">
    <link rel="icon" href="{{asset('asset/LA_WA_BO-min.png')}}" type="image/x-icon">

    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{{asset('css/style.css')}}">

    <link href="https://fonts.googleapis.com/css?family=McLaren|Staatliches&display=swap" rel="stylesheet">

    {# <script src="https://www.google.com/recaptcha/api.js?render=6LfVvrwUAAAAAKPE7qxohsJySELSp5rEvv1wbLwM"></script> #}
   
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <meta name="description" content="Créateur: Site web & Infographie | Creator: Website & Infographic">
    <meta property="og:locale" content="fr_FR" />
    <meta property="og:type" content="services" />
    <meta property="og:title" content="La Web Agency Créateur : Site web & Infographie" />
    <meta property="og:image" content="{{asset('asset/LA_WA_BO.png')}}"  />
    <meta property="og:description" content="Créateur: Site web & Infographie | Creator: Website & Infographic" />
    <meta property="og:url" content="https://www.lawebagency.net" />
    <meta property="og:site_name" content="La Web Agency" />
    <meta name="twitter:card" content="La Web Agency" />
    <meta name="twitter:title" content="Créateur: Site web & Infographie | Creator: Website & Infographic" />
    <meta name="twitter:image" content="{{asset('asset/LA_WA_BO.png')}}" />
        <title>{% block title %}{% endblock %} | La Web Agency</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body id="top">
                {# read and display just one flash message type #}
        {% for message in app.flashes('notice') %}
        <div class="flash-notice" role="alert">
            {{ message }}
        </div>
        {% endfor %}
        {# read and display several types of flash messages #}
        {% for label, messages in app.flashes(['success', 'warning']) %}
        {% for message in messages %}
        <div class="flash-{{ label }} alert-dismissible ml-5 p-3 fade show" role="alert">
            {{ message }}
        </div>
        {% endfor %}
        {% endfor %}
        {# read and display all flash messages #}
        {% for label, messages in app.flashes %}
        {% for message in messages %}
        <div class="flash-{{ label }} alert-dismissible ml-5 p-3 fade show" role="alert">
            {{ message }}
        </div>
        {% endfor %}
        {% endfor %}

        <div class="container-fluid">
            {% include 'inc/header.html.twig' %}
            {% block body %}{% endblock %}

            {% include 'inc/footer.html.twig' %}

        </div>
        <script src="{{ asset('js/jquery.js') }}" ></script>
        <script src="{{ asset('js/nav.js') }}" ></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.3/TweenMax.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <script>
            $(".alert-dismissible").alert('close')
            
            $('#myModal').on('shown.bs.modal', function () {
                $('#myInput').trigger('focus')
            });
        </script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
