{% extends 'base.html.twig' %}

{% block title %}Works{% endblock %}

{% block body %}
<div class="row">
        <div class="col-1" ></div>
        <div class="col-11">
    <h1>Works</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ work.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ work.title }}</td>
            </tr>
            <tr>
                <th>Image</th>
                {# <td>{{ work.image }} <img src="{{ vich_uploader_asset(item, work.image) }}"></td> #}
                <td><img src="{{ work.imageFile }}" style="width:64px;height:auto;"/>
                    <img src="{{ vich_uploader_asset(work, 'imageFile') }}" alt="photo {{ work.title }}" class="img-fluid" style="width:64px;height:auto;">
                </td>
            </tr>
            <tr>
                <th>UpdateAt</th>
                <td>{{ work.updateAt ? work.updateAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ work.description }}</td>
            </tr>
            <tr>
                <th>Tags</th>
                <td>{{ work.tags }}</td>
            </tr>
            {# <tr>
                <th>Imagebig</th>
                <td>{{ work.imagebig }}</td>
            </tr> #}
            <tr>
                <th>LinkWebsite</th>
                <td>{{ work.linkWebsite }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('works_index') }}">back to list</a>

    <a href="{{ path('works_edit', {'id': work.id}) }}">edit</a>

    {{ include('works/_delete_form.html.twig') }}
        </div>
    </div>
{% endblock %}
